<!DOCTYPE html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="main-container">
    <div class="content">
      <div class="brand">
          <img src="images/twendeshule-logo.png" alt="">
      </div>
      <div class="mt-40">
          <h3>Payment Details</h3>
          <p>Enter your <strong>TigoPesa</strong> number and amount of credits you want to purchase</a></p>
      </div>
      
      <!-- <div class="alert error">
        * You must enter a valid TigoPesa number!
      </div> -->
      
      <form class="mt-30">
        <p class="text-secondary"><small>Enter your phone number</small></p>
        <input class="with-border" type="text" placeholder="Example 0713783377"/>

        <p class="text-secondary"><small>Enter amount of credits to buy (TZS)</small></p>
        <input class="with-border" type="text" placeholder="Example 3500"/>

        <button class="primary">Continue</button>
      </form>
      
      <p>
        <small>Or <a href="#">select a different payment method</a></small>
      </p>
    </div>
  </div>
</body>